$backgroundColor: #efefef;
$radius: 20%;

form {
  width: 100vh;
  position: relative;
  left: 19%;
  background-color: $backgroundColor;
  display: inline-block;
  margin: auto;
  margin-bottom: 5vh;
  // width: 200px;
  box-shadow: 0px 0px 9px black;


  label {
    display: flex;
    margin: 1rem 0;
    .url {
      margin: 9px;
      font-weight: bolder;
    }

    input {
      width: 90%;
      border-radius: 25px 5px 5px 25px;
      padding: 5px;
      border: black 1px solid;
      box-shadow: 0px 0px 5px black;

    }
    .formbtn{
      cursor: pointer;
      background: rgb(180, 236, 48);
      border: solid #6fc437bd 1px;
      border-radius: 5px 25px 25px 5px;
      box-shadow: 0px 0px 5px black;
      margin: 0px 20px 0px 5px;
    }
    &.methods  {
      label {
        cursor: pointer;
        margin-right: 3.5rem;
        padding: .25rem .5rem;
        background: rgb(180, 236, 48);
        border: solid #6fc437bd 1px;
        border-radius: $radius;
        box-shadow: 0px 0px 5px black;
        transition: 1000ms;
        

        &:hover, &.active {
          transition: 1000ms;
          background: rgba(107, 173, 0, 0.336);
        }
      }
      :checked + label{
        background: rgba(13, 14, 13, 0.336);
      }
      .ch{
        opacity: 0;
      }
    }
  }
  #area{
    width: 90%; 
    margin: auto 4%;
  }
}
